.nav-bar{
    background-color: rgb(75, 75, 75);
    z-index: 1000;
}

.search-result {
    cursor: pointer;
}
.search-result:hover {
    background-color: rgb(214, 214, 214);
}

.search-result:active {
    background-color: rgb(168, 168, 168);
}